<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= user.title %>">
    <title><%= user.company_name %> | <%= user.first_name + " " + user.last_name %></title>
    <link rel="stylesheet" href="/public/css/output.css">
    <!-- <link rel="icon" href="/public/images/icons/zumaenergia_icon.png">
    <link rel="apple-touch-icon" href="/public/images/icons/zumaenergia_icon.png"> -->
</head>
<body>
    <div class="max-w-md m-auto bg-white h-auto relative overflow-hidden text-center">
        <!-- BANNER -->
        <div id="banner" class="w-full h-60 sm:h-72 relative flex justify-center rounded-b-3xl items-end z-10 shadow-xl">
            <img src="/public/images/banners/logralo.png" alt="Cover Image" class="absolute object-cover object-center rounded-b-3xl h-full w-full">
            <!-- PROFILE PICTURE -->
            <div class="w-32 h-32 rounded-xl translate-y-1/2 overflow-hidden border-8 shadow-xl border-white">
                <img src="https://api.inteminer.com/users/<%= user._id %>/profile" alt="Profile Image" class="w-full h-full object-cover object-center">
            </div>
        </div>
        <!-- MAIN CONTACT -->
        <div class="pt-20 text-center relative">
            <!-- QR CODE ICON -->
            <img id="qrBtn" src="/public/images/buttons/qr-button.svg" alt="QR button icon" class="absolute right-4 top-4 cursor-pointer shadow-xl">
            <div class="border-4 border-slate-100 bg-white shadow-xl w-5/6 m-auto p-3 rounded-xl mb-5">
                <h4 class="text-lg sm:text-2xl font-bold mb-2"><%= user.first_name + " " + user.last_name %></h4>
                <p class="text-sm text-slate-700 mb-1">Asesora de buenos hábitos</p>
                <p class="font-semibold mb-4 text-sm"><%= user.company_name %> </p>
                <div class="flex items-center justify-center flex-wrap w-full py-4">
                    <!-- WHATSTAPP -->
                    <a href="https://wa.me/52<%= user.phone %>" target="_blank" class="text-xs text-slate-700 mx-3"><img class="w-12 m-auto mb-2" src="/public/images/buttons/whatsapp.svg" alt="Whatsapp Icon">Whatsapp</a>
                    <!-- SHARE -->
                    <a id="share-button" class="text-xs text-slate-700 mx-3 cursor-pointer"><img class="w-12 m-auto mb-2" src="/public/images/buttons/share.svg" alt="Share Icon">Compartir</a>
                    <!-- VCF -->
                    <a href="https://api.inteminer.com/users/<%= user._id %>/vcf" class="text-xs text-slate-700 mx-3"><img class="w-12 m-auto mb-2" src="/public/images/buttons/contact.svg" alt="Contact Icon">Contacto</a>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <!-- <a href="#" class="px-8 py-2 mx-auto inline-block text-center text-white bg-blue-500 shadow-xl text-sm rounded-xl">Descarga el kit de ventas inicial</a> -->
        
        <!-- SOCIAL MEDIA BUTTONS -->
        <p class="mt-10 mb-2 text-center font-semibold">Conecta conmigo</p>
        <div class="flex border-t border-slate-400 items-center justify-center flex-wrap w-full py-4">
            <% for( let i = 0; i < user.social.length; i++ ) { %>
                <a href="<%= user.social[i].link %> " target="_blank"><img src="/public/images/buttons/<%= user.social[i].name %>.svg" alt="<%= user.social[i].name %> icon" class="w-12 m-2"></a>
            <% } %>
        </div>
        
        <!-- QR OVERLAY -->
        <div id="qrOverlay" class="bg-white z-30 absolute -bottom-full w-full h-[90%] sm:h-[85%] rounded-t-3xl shadow-3xl drop-shadow-2xl text-center">
            <div class="rounded-2xl shadow-xl w-20 h-20 m-auto overflow-hidden mt-10">
              <img src="https://api.inteminer.com/users/<%= user._id %>/profile" alt="Profile Image" class="w-full h-full object-cover object-center">
            </div>
            <h5 class="font-bold text-center w-44 mt-2 m-auto"><%= user.first_name %> <%= user.last_name %></h5>
            <div class="m-auto mt-5 w-52 h-52 p-2 border-4 border-slate-100 rounded-xl flex items-center justify-center">
              <img src="https://api.inteminer.com/users/<%= user._id %>/qr">
            </div>
            <h5 class="text-center mt-2 text-sm mb-4">Comparte esta tarjeta</h5>
            <button id="closeBtn" class="bg-blue-500 px-4 py-1 text-sm rounded-md text-white">Cerrar</button>
        </div>
    </div>
    <script>
        let shareBtn = document.getElementById("share-button");

        shareBtn.addEventListener('click', () => {
            if (navigator.share) {
                navigator.share({
                title: window.document.title,
                url: window.document.location.href,
                }).then(() => {
                    console.log('Thanks for sharing');
                })
            }
        })

        let qrOverlay = document.getElementById('qrOverlay');
        document.getElementById('qrBtn').addEventListener('click', () => {

            qrOverlay.classList.remove('animate-[slideout_0.3s_ease-in-out_forwards]');
            qrOverlay.classList.add('animate-[slidein_0.3s_ease-in-out_forwards]');
        });

        document.getElementById('closeBtn').addEventListener('click', () => {
            qrOverlay.classList.remove('animate-[slidein_0.3s_ease-in-out_forwards]');
            qrOverlay.classList.add('animate-[slideout_0.3s_ease-in-out_forwards]');
        })

        document.getElementById('banner').addEventListener('click', () => {
            qrOverlay.classList.remove('animate-[slidein_0.3s_ease-in-out_forwards]');
            qrOverlay.classList.add('animate-[slideout_0.3s_ease-in-out_forwards]');
        })
    </script>
</body>
</html>